[Unit]
Description=Prometheus
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RestartSec=5
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n \
  -p 9090:9090 \
  -v {{ prometheus_config_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml \
  -v {{ prometheus_data_dir }}:/prometheus \
  prom/prometheus:v2.37.0 \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/prometheus \
  --web.console.libraries=/usr/share/prometheus/console_libraries \
  --web.console.templates=/usr/share/prometheus/consoles
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
