pipeline {
    agent any
    stages {
        stage('Update Infrastructure') {
            steps {
                sh 'ansible-playbook -i inventories/production site.yml'
            }
        }
    }
}
