global
    log /dev/log    local0
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend jenkins_frontend
    bind *:80
    default_backend jenkins_backend

backend jenkins_backend
    balance roundrobin
    option httpchk GET /login
    http-check expect status 200
    {% for host in groups['jenkins_masters'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8080 check
    {% endfor %}
